@use "../abstract/variables" as *;

.list-wrapper {
  width: 80vw;
  margin: 50px auto;
  .list {
    width: 80%;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    border-radius: 2px;
    list-style: none;
    padding: 10px 20px;
    .list-item {
      min-width: 15em;
      display: flex;
      flex-direction: column;
      background-color: $c6;
      border-radius: 0.2em;
      gap: 0.3em;
      padding: 1em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-left: 20px;
      h4 {
        margin-top: 10px;
        font-size: 1.5em;
      }
      p {
        margin-top: 5px;
        color: #d6d6d6;
      }
    }
  }
}
