@use "../abstract/variables" as *;

.login {
  margin: auto;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em 1em 1em;
  justify-content: space-evenly;
 
}
.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
.login-input {
  padding: 12px 20px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1em;
}
.login-button {
  padding: 14px 25px;
  border: none;
  text-align: center;
  background-color: $c2;
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
}

.header {
  width: 100%;
  aspect-ratio: 3/1;
  padding: 0.5em;
  color: $c5;
  font-size: 3em;
  font-size: calc(10px + 2vmin);
}
.main-header {
  background: url("../Assets/gympic.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 3/1;
  position: fixed;
  z-index: -1;
  padding: 0.5em;
  color: #FFF;
  font-size: 4em;
}