@use "../abstract/variables" as *;
@import url('https://fonts.googleapis.com/css?family=Oswald');

.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  width: 100vw;
  h1{
  
    color: $c2;
  }
}
.navbar-loggedin{
  padding-left: 2em;
  position: relative;
  left: 0;

  padding-top: 3em;
  color: #fff;
}
ul {
  color: $c5;
  display:flex;
  list-style-type: none;
  a {
    margin: 10px 30px;
    position: relative;
    color: var(--text);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;

   
  }
  a:hover{

    color: $c1;
  }
}


.navbar-img{
    position:absolute;
    right: 0;
    top:0;
}

  .navbar-main{
    display: flex;
    width:auto;
    justify-content: center;
    position: relative;
  }

  img{
    height:150px;
    width:150px;
    z-index:-1;
    position: relative;
   
  }