@use "./abstract/variables" as *;
@use "./pages/login" as *;
@use "./components/BookingPage" as *;
@use "./pages/navbar" as *;
@use "./components/workoutDetails" as *;
@use "./components/footer" as *;
@use "./components/sublist" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Righteous";
  background-color: $c3;
  margin: auto;
  overflow-x: hidden;
}
